# references:
# * http://www.objc.io/issue-6/travis-ci.html
# * https://github.com/supermarin/xcpretty#usage

language: objective-c
osx_image: xcode9
# cache: cocoapods
# podfile: Example/Podfile

before_install:
- gem install cocoapods -v 1.1.1
- pod install --project-directory=Example

script:
- set -o pipefail && travis_retry xcodebuild test -project Yoshi/Yoshi.xcodeproj -scheme YoshiTests -destination 'platform=iOS Simulator,name=iPhone 6,OS=11.0' | xcpretty
- pod lib lint --allow-warnings
